<html>
    <body>
        <h1>Predictions using Linear Regression</h1>
        </br>
        <p> Choose a CSV file to upload, then click Predict to download outputs.
        </br>
        <p> Note: Model will predict value in Col A of inputted data.
        <form action="/transform" method="post" enctype="multipart/form-data">
            <input type="file" name="data_file" class="btn btn-block"/>
            </br>
            </br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
    </body>
</html>